@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-12-24 17:46:50
 * @version $Id$
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
input {
    margin: 0;
    padding: 0
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

a,
a:hover {
    text-decoration: none
}

img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

label {
    cursor: default
}

textarea {
    resize: none
}

a,
a:focus {
    outline: none
}

.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both
}

.clearfix {
    *zoom: 1
}

.clear {
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    line-height: 0;
    overflow: hidden
}

.fl {
    float: left;
    display: inline
}

.fr {
    float: right;
    display: inline
}

.fn {
    float: none
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}

.hide {
    display: none
}

.show {
    display: block
}

.mt10 {
    margin-top: 10px
}

.noBg {
    background: none !important
}

.noBorder {
    border: 0 !important
}

.red {
    color: red
}

.mb15 {
    margin-bottom: 15px
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 Tahoma, Arial, 'Hiragino Sans GB', 'microsoft yahei', \5b8b\4f53
}

body {
    background: #fff;
    width: 100%;
}

a {
    color: #555;
    text-decoration: none;
}

/*a:hover{color:#f6dbd0;}*/
img {
    vertical-align: middle;
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.wrapper .content {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .content .item {
    width: 16%;
    height: 100%;
    background-color: #333;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.6s, height 0.5s 0.5s;
}

.wrapper .content .item .inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    position: relative;
}

.wrapper .content .item .inner .bg {
    background: url(../images/1.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.6;
    transition: all 0.3s;
}

.wrapper .content .item:nth-child(1) .inner .bg {
    background-image: url(../images/1.jpg);
}

.wrapper .content .item:nth-child(2) .inner .bg {
    background-image: url(../images/2.jpg);
}

.wrapper .content .item:nth-child(3) .inner .bg {
    background-image: url(../images/3.jpg);
}

.wrapper .content .item:nth-child(4) .inner .bg {
    background-image: url(../images/4.jpg);
}

.wrapper .content .item:nth-child(5) .inner .bg {
    background-image: url(../images/5.jpg);
}

.wrapper .content .item:nth-child(6) .inner .bg {
    background-image: url(../images/6.jpg);
}

.wrapper .content .item:hover .inner .bg {
    opacity: 1;
}


.wrapper .content .item:nth-child(1) .inner {
    transition-delay: 0.1s;
}

.wrapper .content .item:nth-child(2) .inner {
    transition-delay: 0.2s;
}

.wrapper .content .item:nth-child(3) .inner {
    transition-delay: 0.3s;
}

.wrapper .content .item:nth-child(4) .inner {
    transition-delay: 0.4s;
}

.wrapper .content .item:nth-child(5) .inner {
    transition-delay: 0.5s;
}

.wrapper .content .item:nth-child(6) .inner {
    transition-delay: 0.6s;
}

.wrapper.init .content .item .inner {
    transform: translateY(100%);
}


.wrapper .content .item .inner .title {
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.wrapper .content .item .inner .dir {
    position: absolute;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 0px 20px;
    top: 20px;
    left: 0px;
    opacity: 0;
    line-height: 30px;
}

.wrapper .content .item .inner .dir .header {
    float: left;
    font-size: 16px;
    color: #fff;
}

.wrapper .content .item .inner .dir .close {
    width: 30px;
    height: 30px;
    background-color: #5aa700;
    color: #fff;
    float: right;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper .content .item .inner .dir .close:before {
    content: "";
    display: block;
    height: 1px;
    width: 15px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
}

.wrapper .content .item .inner .dir .close:after {
    content: "";
    display: block;
    height: 1px;
    width: 15px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-45deg);
}


.wrapper .content .item.active .inner .dir {
    opacity: 1;
    transition: opacity 0.5s 1s;
}


.wrapper .content .item.active {
    width: 100%;
}

.wrapper .content .item.active .bg {
    opacity: 1;
}

.wrapper .content .item.active .title {
    opacity: 0;
}

.actwrap .content .item {
    transition: height 0.6s, width 0.5s 0.5s;
}

.actwrap .content .item:not(.active) {
    width: 0%;
    height: 0%;
}